<IfModule mod_rewrite.c>
RewriteEngine on
Options +FollowSymLinks
Options All -Indexes
ErrorDocument 403 /error.html
ErrorDocument 404 /error.html
</IfModule>

<files .htaccess>
order allow,deny
deny from all
</files>